<!DOCTYPE html>
<html>
<head>
<style>
	body {
		margin: 0;
		display: grid;
		min-height: 10vh;
		place-items: center;
		background-color: lightgray;
	}
	div {
		text-align: center;
	}
		</style>
<title>Thank You!</title></head>
<body>
    <h1>Thank you!</h1>
	<p>I'll get to you as quickly as possible!</p>
	<p>Your ticket ID is: {{ticket_id}}</p>
	<p>Please keep this for your records! You may check its status and/or resolution by entering it on the previous page.</p>
	</body>
</html>

